#checkAnswersButton{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: fantasy;
    transition: background-color 2s;
}