/* Set background and font of html */
html{
    background: url("../img/chairBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 100%;
    height: 100%;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}
/* Sets the selected page name to be underlined */
.selected{
    text-decoration: underline;
}

.centeredText{
    text-align: center;
}

.pageSelection{
    font-size: 25px;
    font-weight: bolder;
}

a{
    margin-right: 25px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.mainContent{
    background-color: rgba(255, 255, 255, 0.6);
    width: 650px;
    margin: 25px auto;
    padding: 25px 50px;
    border-radius: 25px;
}

.mainContentTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background-color: grey;
    border-radius: 25px;
    margin: 10px 50px;
}

.imageCaption{
    font-style: italic;
    font-size: small;
}

hr{
    width:85%;
}